.dashboard-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
}

.dashboard-table th,
.dashboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.dashboard-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.table-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
}

.delete-button {
    background-color: #f44336;
    color: white;
}
